@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,500;1,300;1,500&display=swap');

* {
    margin: 0;
    padding: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #90b4c0;
}

.all {
    height: 100vh;
    width: 100vw;
}

.back-div {
    height: auto;
    background-color: #395b64;
    padding-left: 30px;
    z-index: 2;
}

.back-button {
    height: 30px;
    width: 30px;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 60px;
    background: #395b64;
    color: white;
    z-index: 2;
}

.profile-image {
    margin-left: 16vw;
    width: auto;
    height: auto;
    object-fit: cover;
    margin-right: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.name {
    margin-left: 1rem;
}

.img {
    width: 40px;
    height: 40px;
    background-color: #90b4c0;
    object-fit: cover;
    border-radius: 50%;
}

.input-area {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 40px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
}

#message-input {
    padding: 5px;
    width: 100%;
    border: 2px solid #fbd6d2;
    border-radius: 8px;
}

#message-input:focus {
    outline: none !important;
}

#send-btn {
    width: 26vw;
    height: auto;
    background-color: #fbd6d2;
    border: none;
    margin-left: 2px;
    margin-right: 2px;
    border-radius: 8px;
}

.messages {
    height: auto;
    box-sizing: border-box;
    overflow-y: scroll;
}

.message.right {
    height: auto;
    padding: 0.8rem;
    width: 50vw;
    margin-left: calc(50vw - 1rem);
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    margin-right: 1rem;
    color: black;
    background-color: #fbd6d2;
    text-align: end;
    border-radius: 10px 10px 0px 10px;
}

.message.left {
    height: auto;
    padding: 0.8rem;
    width: 50vw;
    margin-right: calc(50vw - 1rem);
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    margin-left: 1rem;
    color: black;
    background-color: #fbd6d2;
    border-radius: 10px 10px 10px 0px;
}