@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,500;1,300;1,500&display=swap');

* {
    margin: 0;
    padding: 0;
}

html {
    height: -webkit-fill-available;
}

body {
    font-family: 'Montserrat', sans-serif;
    height: -webkit-fill-available;
    line-height: 1.5;
}

.User-Type {
    height: -webkit-fill-available;
    background-image: url("/images/man-sitting-on-ball.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.box {
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.body {
    height: 70vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-end;
    justify-content: flex-start;
    padding-bottom: 10%;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.User-Type h1 {
    color: white;
    transform: scale(1, 1.2);
    padding: 0 20px;
    text-align: end;
}

.trainer_button {
    background-color: #f5989d;
    color: black;
    border-radius: 8px;
    border: none;
    font-weight: 600;
    padding: 10px 95px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    cursor: pointer;
}

.trainee_button {
    background-color: #f5989d;
    color: black;
    border-radius: 8px;
    border: none;
    font-weight: 600;
    padding: 10px 109.5px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    cursor: pointer;
    margin-top: 16px;
}

.landing-page a {
    text-decoration: none;
}