<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/css/chatEnv.css">
        <title>Chatting</title>
    </head>
</head>

    <body>
        <div class="body" id="app">
            <div class="back-div">
                <img class="back-button" src="/images/back-trainer.png" alt="back button" @click="back()">
            </div>

            <div class="header">
                <div class="profile-image">
                    <img class="img" :src="avatar" alt="Avatar"/>
                 </div>
                <h3>{{ name }}</h3>
            </div>

            <div :class="item.isSender? 'message right' : 'message left'" v-for="(item, index) in messages" :key="index">
                {{ item.message }}
            </div>

            <div class="input-area">
                <input type="text" id="message-input" v-model="message">
                <button id="send-btn" @click="send_message()">Send</button>
            </div>
        </div>

        <script src="/js/jquery.js"></script>
        <script src="/js/vue.js"></script>
        <script src="/js/trainer/connection/chatEnv.js"></script>
    </body>
</html>

      
      