@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,500;1,300;1,500&display=swap');

* {
    margin: 0;
    padding: 0;
}

html {
    height: -webkit-fill-available;
}

body {
    font-family: 'Montserrat', sans-serif;
    height: -webkit-fill-available;
    line-height: 1.5;
}

.account-page {
    background-color: #395b64;
}

.box-account {
    height: 80vh;
    padding: 10px;
}

.top-account {
    color: white;
    text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.7);
    text-align: center;
}

.middle-account {
    color: white;
    line-height: 40px;
    border: 1px solid #f5989d;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    margin: 0 20px;
    margin-top: 2rem;
}

.info-columns-2 {
    text-align: end;
}

.bottom-account {
    color: white;
    border: 1px solid #f5989d;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 20px;
    margin: 0 20px;
    margin-top: 1rem;
}

.cropped1 {
    width: 20vh;
    height: 20vh;
    object-fit: cover;
    border: 2px solid #f5989d;
    border-radius: 50%;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.6);
    text-align: center;
}

.margin {
    padding-bottom: 6rem;
}