<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Details Page</title>
        <link rel="stylesheet" href="/css/loginsignup/details.css" />
    </head>

    <body class="details-page">
        <div class="box-details" id="app">
            <div class="body-details">
                <h1>Your details</h1>
                <div>
                    <button class="gender-button" @click="gender = 'Male' ">Male</button>
                    <button class="gender-button" @click="gender = 'Female' ">Female</button>
                </div>

                <form>
                    <div class="input">
                        <input type="number" id="weight" v-model="weight" class="input-field" placeholder="Weight (LB)" required />
                    </div>

                    <div class="input">
                        <div>
                            <input type="number" id="heightft" v-model="heightft" class="input-field" placeholder="Height (FT)" required />
                        </div>
                        <div>
                            <input type="number" id="heightin" v-model="heightin" class="input-field" placeholder="Height (IN)" required />
                        </div> 
                    </div>

                    <div class="input">
                        <input type="date" id="birthday" v-model="dob" class="input-field" required />
                    </div>
                </form>
            </div>
                <div class="footer-details" @click="jump_to_AT()">
                    <button class="action-button">Continue</button>
                </div>
        </div>

        <footer></footer>

        <script src="/js/vue.js" type="text/javascript" charset="utf-8"></script>
        <script src="/js/jquery.js" type="text/javascript" charset="utf-8"></script>
        <script src="/js/loginsignup/details.js" type="text/javascript" charset="utf-8"></script>
    </body>
</html>
