@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,500;1,300;1,500&display=swap');

* {
    margin: 0;
    padding: 0;
}

html {
    height: -webkit-fill-available;
}

body {
    font-family: 'Montserrat', sans-serif;
    height: -webkit-fill-available;
    line-height: 1.5;
}

.details-page {
    background-color: #395b64;
    background-image: url("/images/man-holding-ball.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: top;
    background-attachment: fixed;
}

.box-details {
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.body-details {
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding-bottom: 10%;
}

.footer-details {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.gender-button {
    width: 9em;
    border-radius: 8px;
    border: 1px solid white;
    color: white;
    padding: 13px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    background-color: transparent;
}

.gender-button:focus {
    border-color: aqua;
    color: aqua;
    font-weight: 300;
}

.details-page h1 {
    font-size: 30px;
    color: white;
    padding-bottom: 10px;
    text-align: center;
}

.input {
    padding-top: 2rem;
}

.input-field {
    color: white;
    border: 0;
    background-color: transparent;
    border-bottom: 1px solid white;
    font-size: 1rem;
    padding: 0.25rem 4rem;
}

.input-field::placeholder {
    color: #bdbdbd;
}

input:focus::placeholder {
    color: transparent;
}

.action-button {
    color: black;
    background-color: #f5989d;
    border-radius: 8px;
    border: none;
    font-weight: 600;
    padding: 10px 110px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}