<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/css/trainee/nav.css">
        <link rel="stylesheet" href="/css/trainee/account/editProfile.css" />
        <title>Edit Profile</title>
    </head>

    <body class="edit-profile">
        <div class="outerdiv" id="app">
            <div class="navdiv">
                <img class = "menu" src="/images/menu-button.svg" alt="menu-button"/>
                
                <nav>
                    <img class="close" src="/images/close-button.svg" alt="close-button"/>
            
                    <ul class="navul">
                        <li class="navli">
                            <a class="nava" href="/html/trainee/home/homepage.html">Home</a>
                        </li>
                        <li class="navli">
                            <a class="nava" href="/html/trainee/account/accountPage.html">Your Profile</a>
                        </li>
                        <li class="navli">
                            <a class="nava" href="/html/trainee/connection/yourtrainer.html">Your Trainer</a>
                        </li>
                        <li class="navli">
                            <a class="nava" href="/html/trainee/connection/chatlist.html">Chats</a>
                        </li>
                        <li class="navli">
                            <a class="nava" onclick="localStorage.clear();" href="/index.html">Log out</a>
                        </li>
                    </ul>
                </nav>
            </div>

            <div class="account">
                <img class="avatar" :src="avatar" @click="$refs.imgInput.click()">
    
                <input type="file" name="img" accept="image/*" style="display:none" @change="upload($event)" ref="imgInput">
            </div>

            <div class="edit">
                <div class="dropdown">
                    <div>Training Style: </div>
                    <select class="selection" name="training_style" id="training_style" v-model="training_style">
                        <option value="" selected disabled hidden>Select Training Style</option>
                        <option id='option' value="Yoga">Yoga</option>
                        <option value="Pilates">Pilates</option>
                        <option value="Bodybuilding">Body Building</option>
                        <option value="Bodyweight">Body Weight</option>
                        <option value="Powerlifting">Power Lifting</option>
                        <option value="Olympiclifting">Olympic Lifting</option>
                    </select>
                </div>

                <div class="dropdown">
                    <div>Gender: </div>
                    <select class="selection" name="gender" id="gender" v-model="gender">
                        <option value="" selected disabled hidden>Select Gender</option>
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                    </select>
                </div>

                <div class="input">
                    <div>Height(FT): </div>
                    <input type="number" id="heightft" v-model="heightft" class="text-input" :placeholder="heightft"/>
                </div>

                <div class="input">
                    <div>Height(IN): </div>
                    <input type="number" id="heightin" v-model="heightin" class="text-input" :placeholder="heightin"/>
                </div>

                <div class="input">
                    <div>Weight(LB): </div>
                    <input type="number" id="weight" v-model="weight" class="text-input" :placeholder="weight"/>
                </div>

                <div class="desc-input">
                    <div>Description: </div>
                    <textarea name="description" id="description" v-model="description" placeholder="Please edit your description here."></textarea>
                </div>

                <div class="buttons">
                    <button class="button" @click="submit()">Submit</button>
                    <button class="button" @click="cancel()">Cancel</button>
                </div>
            </div>
        </div>

        <script src="/js/vue.js" type="text/javascript" charset="utf-8"></script>
        <script src="/js/jquery.js" type="text/javascript" charset="utf-8"></script>
        <script src="/js/trainee/account/editProfile.js" type="text/javascript" charset="uft-8"></script>
        <script src="/js/nav.js" type="text/javascript" charset="utf-8"></script>
    </body>
</html>