@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,500;1,300;1,500&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    height: -webkit-fill-available;
}

.profile-list {
    height: 18vh;
    width: 100%;
    background-color: white;
    border-top: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
    border-radius: 10px;
    position: relative;
    z-index: 3;
    display: flex;
    align-items: center;
}

.profile-image {
    width: 11vh;
    height: 11vh;
    background-color: #90b4c0;
    object-fit: cover;
    border-radius: 50%;
    margin: 0 4vw;
}

.info {
    margin-left: 2rem;
}

.chat-button {
    background-color: #fbd6d2;
    border: none;
    border-radius: 10px;
    color: rgba(0, 0, 0, 0.829);
    padding: 10px 29px;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    margin: 4px 1px;
}

.chat-button h4 {
    font-weight: 500;
    letter-spacing: 1px;
    transform: scale(1.2, 1.2);
}