@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,500;1,300;1,500&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    height: -webkit-fill-available;
    background-color: #395b64;
}

.navdiv {
    background-color: #395b64;
}

.header {
    width: 100%;
    height: 10vh;
    text-align: center;
}

h1 {
    color: white;
}

.iframe {
    width: 100%;
    height: 80vh;
}

iframe {
    width: 100vw;
    height: 100%;
    border: none;
}