@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,500;1,300;1,500&display=swap');

* {
    margin: 0;
    padding: 0;
}

html {
    height: -webkit-fill-available;
}

body {
    font-family: 'Montserrat', sans-serif;
    height: -webkit-fill-available;
    background-color: #90b4c0;
    padding: 1rem;
}

.payment-container {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    padding: 10px 20px;
    margin-top: 20px;
    width: 80vw;
    height: auto;
    color: black;
    border-radius: 10px;
    background-color: white;
    border: 2px solid white;
    z-index: 2;
    margin-bottom: 1rem;
}

.pricing {
    display: flex;
    flex-direction: row;
}

.tier-info {
    padding-top: 20px;
    padding-bottom: 10px;
    font-size: 0.9rem;
    font-weight: 200;
}