@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,500;1,300;1,500&display=swap');

* {
    margin: 0;
    padding: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    height: -webkit-fill-available;
}

body {
    font-family: 'Montserrat', sans-serif;
    height: -webkit-fill-available;
}

button {
    font-family: inherit;
}

.back-div {
    width: auto;
    height: 30px;
    text-align: start;
}

.back-button {
    height: 30px;
    width: 30px;
}

.container {
    width: 100%;
    height: auto;
    background-color: #395b64;
    text-align: center;
    padding: 20px;
}

.profile-image {
    width: 20vh;
    height: 20vh;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid #f5989d;
}

.bio-box {
    margin-top: 10px;
    padding-top: 10px;
    background-color: white;
    width: auto;
    height: auto;
    border-radius: 20px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.bio-text {
    margin: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.bio-text h1 {
    font-size: 1.5rem;
}

.bio-box h3 {
    font-weight: 100;
}

.about-text {
    width: 100%;
    height: 17vh;
    padding-left: 1rem;
    padding-right: 1rem;
}

.description {
    font-size: 0.9rem;
    text-align: start;
}

.request-button {
    display: flex;
    justify-content: flex-end;
    padding-right: 15px;
}

.request-button button {
    width: 50vw;
    height: 3rem;
    background-color: #f5989d;
    border: none;
    border-radius: 10px;
    color: black;
    font-size: 15px;
    margin: 9px 1px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.trainer-images {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 0.5rem;
}

.trainer-images img {
    background-color: #f5989d;
    height: 28vw;
    width: 28vw;
    border: 1px solid #f5989d;
    border-radius: 15px;
    margin: 5px 0 5px 0;
    object-fit: cover;

}

.video {
    margin-top: 1rem;
}

video {
    width: 100%;
    border-radius: 10px;
}

.payment-tier {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.payment-button {
    width: 60vw;
    height: 3rem;
    border: none;
    border-radius: 10px;
    background-color: #f5989d;
    font-size: 15px;
}