@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,500;1,300;1,500&display=swap');

* {
    margin: 0;
    padding: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    height: -webkit-fill-available;
    background-color: #90b4c0;
}

.main-header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    width: 100%;
    height: 20vh;
    color: white;
    background-color: #395b64;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    display: flex;
    align-items: center;
    padding-left: 50px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23)
}

.main-content {
    margin-top: 2vh;
}

.client-container {
    width: 100vw;
    height: 15vh;
    border-radius: 10px;
    z-index: 1;
    background-color: white;
    display: flex;
    flex-direction: column;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.profile-list {
    height: 15vh;
    width: 100vw;
    padding: 20px 0 20px 0;
    background-color: white;
    border-top: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.profile-image {
    width: 11vh;
    height: 11vh;
    background-color: #90b4c0;
    object-fit: cover;
    border-radius: 50%;
}

.message-button {
    background-color: #fbd6d2;
    border: none;
    border-radius: 10px;
    color: rgba(0, 0, 0, 0.829);
    padding: 15px 29px;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    margin: 4px 1px;
}