@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,500;1,300;1,500&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    height: -webkit-fill-available;
}

.top-container {
    width: 100vw;
    height: 18vh;
    background-color: #395b64;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    position: absolute;
    z-index: 2;
    display: flex;
    align-items: center;
}

.top-container h1 {
    color: white;
    padding-left: 55px;
    padding-bottom: 20px;
    transform: scale(1.2, 1.2);
}

.button-container h1 {
    font-weight: 500;
    font-size: 20px;
}

.bottom-container {
    width: 100vw;
    height: 93vh;
    background-color: #90b4c0;
    position: absolute;
    z-index: 1;
}

.button-container {
    height: 8vh;
    width: 80vw;
    background-color: white;
    border-radius: 10px;
    position: absolute;
    z-index: 3;
    margin-top: 14vh;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.centerize {
    display: flex;
    justify-content: center;
}

.iframe_div {
    margin-top: 24vh;
    width: 100vw;
    height: 58vh;
}

iframe {
    width: 100%;
    height: 100%;
    border: none;
}

.likes-container {
    height: 6vh;
    width: 38vw;
    margin-top: 1vh;
    margin-left: 2vw;
    border-radius: 10px;
    position: absolute;
    z-index: 4;
    display: flex;
    align-items: center;
    justify-content: center;
}

.chats-container {
    height: 6vh;
    width: 38vw;
    margin-top: 1vh;
    margin-left: 40vw;
    border-radius: 10px;
    position: absolute;
    z-index: 4;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fa-heart {
    color: red;
}

.row {
    display: flex;
    flex-direction: column;
}

.invisible-padding {
    border: 2px solid red;
    margin-top: 35vh;
}

.profile-list {
    height: 15vh;
    width: 100%;
    background-color: white;
    border-top: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
    position: relative;
    z-index: 3;
    display: flex;
    align-items: center;
}

.profile-image {
    width: 11vh;
    height: 11vh;
    background-color: #90b4c0;
    object-fit: cover;
    border-radius: 50%;
    margin: 0 2vh;
}

.accept-button {
    background-color: #fbd6d2;
    border: none;
    border-radius: 10px;
    color: rgba(0, 0, 0, 0.829);
    padding: 15px 29px;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    margin: 4px 1px;
}

.accept-button h4,
.delete-button h4 {
    font-weight: 500;
    letter-spacing: 1px;
    transform: scale(1.2, 1.2);
}

.delete-button {
    border: none;
    border-radius: 10px;
    color: grey;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
}