@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,500;1,300;1,500&display=swap');

* {
    margin: 0;
    padding: 0;
}

html {
    height: -webkit-fill-available;
}

body {
    font-family: 'Montserrat', sans-serif;
    height: -webkit-fill-available;
    line-height: 1.5;
}

.homepage-div {
    background-color: #395b64;
}

.homepage {
    text-align: center;
    color: white;
    padding: 30px;
}

.button-container {
    display: flex;
    justify-content: center;
    padding: 0rem 2rem 0rem 2rem;
    height: 5vh;
}

.button-container button {
    background-color: white;
    width: 100%;
    border: 0;
    border-radius: 8px;
}

iframe {
    height: 60vh;
    width: 90vw;
    border-radius: 8px;
    border: 0px;
    margin-top: 1rem;
}

.iframe_div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.space {
    width: 2px;
    height: auto;
}