<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <link rel="stylesheet" href="/css/trainer/account/editPaymentPlan.css" />
        <title>Edit Payment Plans</title>
    </head>

    <script src="https://kit.fontawesome.com/545d8eda61.js" crossorigin="anonymous"></script>
       
    <body>
        <div id="app">
            <div class="back-div">
                <img class="back-button" src="/images/back-trainer.png" alt="back button" @click="back()">
            </div>

            <div class="top-container">
                <h1>Edit Your Plans</h1>
            </div>
    
            <div class="bottom-container"></div>
    
            <div class="payment-padding">
                <div class="payment-container">
                    <h2>Free</h2>
    
                    <div class="pricing">
                        <h1>&nbsp; $0</h1>
                        <p>&nbsp; one week</p>
                    </div>
    
                    <div class="plan-description">
                        Plan Descriptions:
                    </div>
    
                    <div class="tier-info">
                        <textarea name="description1" id="description1" v-model="description1" :placeholder="description1"></textarea>
                    </div>
                </div>
    
                <div class="payment-container">
                    <h2>Basic</h2>
    
                    <div class="pricing">
                        <h1>&nbsp; <label for="Price">$</label></h1>
                        &nbsp; <input type="number" id="tier2-Price" name="tier2-Price" v-model="price2" :placeholder="price2">
                        <p>&nbsp; per month</p>
                    </div>
    
                    <div class="plan-description">
                        Plan Description:
                    </div>
    
                    <div class="tier-info">
                        <textarea name="description2" id="description2" v-model="description2" :placeholder="description2"></textarea>
                    </div>
                </div>
    
                <div class="payment-container">
                    <h2>Premium</h2>
    
                    <div class="pricing">
                        <h1>&nbsp; <label for="Price">$</label></h1>
                        &nbsp; <input type="number" id="tier3-Price" name="tier3-Price" v-model="price3" :placeholder="price3">
                        <p>&nbsp; per month</p>
                    </div>
    
                    <div class="plan-description">
                        Plan Description:
                    </div>
    
                    <div class="tier-info">
                        <textarea name="description3" id="description3" v-model="description3" :placeholder="description3"></textarea>
                    </div>
                </div>
            </div>

            <div class="buttons">
                <button class="button" @click="submit()">Submit</button>
                <button class="button" @click="cancel()">Cancel</button>
            </div>
        </div>
        <script src="/js/jquery.js" type="text/javascript" charset="utf-8"></script>
        <script src="/js/vue.js" type="text/javascript" charset="utf-8"></script>
        <script src="/js/trainer/account/editPaymentPlan.js"></script>
    </body>
</html>