<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<link rel="stylesheet" href="/css/trainer/nav.css">
		<link rel="stylesheet" href="/css/trainer/account/editProfile.css" />
		<title>Edit Profile</title>
	</head>

	<body>
		<div class="outer-div" id="app">
			<div class="navdiv">
                <img class = "menu" src="/images/menu.png" alt="menu-button"/>
                
                <nav>
                    <img class="close" src="/images/close.png" alt="close-button"/>
            
                    <ul class="navul">
                        <li class="navli">
                            <a class="nava" href="/html/trainer/home/clientlist.html">Your Clients</a>
                        </li>
                        <li class="navli">
                            <a class="nava" href="/html/trainer/account/accountPage.html">Your Profile</a>
                        </li>
                        <li class="navli">
                            <a class="nava" href="/html/trainer/account/paymentPlans.html">Plan Tiers</a>
                        </li>
                        <li class="navli">
                            <a class="nava" href="/html/trainer/connection/receipt.html">Income</a>
                        </li>
                        <li class="navli">
                            <a class="nava" href="/html/trainer/connection/connection.html">Chats</a>
                        </li>
                        <li class="navli">
                            <a class="nava" onclick="localStorage.clear();" href="/index.html">Log Out</a>
                        </li>
                    </ul>
                </nav>
            </div>

			<div class="top-container">
				<div>
					<img class="avatar" :src="avatar" @click="$refs.avatarInput.click()" />

					<input type="file" name="img" accept="image/*" style="display: none" @change="upload($event)" ref="avatarInput" />
				</div>

				<div class="training-style">
					<h4>Training Style:</h4>
					<select class="selection" name="training_style" id="training_style" v-model="training_style">
						<option value="" selected disabled hidden>Select Training Style</option>
						<option id="option" value="Yoga">Yoga</option>
						<option value="Pilates">Pilates</option>
						<option value="Bodybuilding">Body Building</option>
						<option value="Bodyweight">Body Weight</option>
						<option value="Powerlifting">Power Lifting</option>
						<option value="Olympiclifting">Olympic Lifting</option>
					</select>
				</div>

				<div class="text-description">
					<h4>Description:</h4>
					<div class="margin"></div>
					<textarea name="description" id="description" v-model="description" placeholder="Edit your description here!"></textarea>
				</div>
			</div>

			<div class="upload-container">
				<div>
					<div class="upload-div">
						<label>Select video to upload.</label>
						<input type="file" id="video-upload" accept="video/*" @change="uploadvideo($event)" />
					</div>
					<input type="submit" value="Upload" class="upload-button" @click="video_upload(0, null)" />
				</div>
			</div>

			<div class="images-container">
				<div>
					<img class="trainer-image" :src="img1" @click="$refs.img1Input.click()" />

					<input type="file" name="img1" accept="image/*" style="display: none" @change="upload1($event)" ref="img1Input" />
				</div>

				<div>
					<img class="trainer-image" :src="img2" @click="$refs.img2Input.click()" />

					<input type="file" name="img2" accept="image/*" style="display: none" @change="upload2($event)" ref="img2Input" />
				</div>

				<div>
					<img class="trainer-image" :src="img3" @click="$refs.img3Input.click()" />

					<input type="file" name="img3" accept="image/*" style="display: none" @change="upload3($event)" ref="img3Input" />
				</div>

				<div>
					<img class="trainer-image" :src="img4" @click="$refs.img4Input.click()" />

					<input type="file" name="img4" accept="image/*" style="display: none" @change="upload4($event)" ref="img4Input" />
				</div>

				<div>
					<img class="trainer-image" :src="img5" @click="$refs.img5Input.click()" />

					<input type="file" name="img5" accept="image/*" style="display: none" @change="upload5($event)" ref="img5Input" />
				</div>

				<div>
					<img class="trainer-image" :src="img6" @click="$refs.img6Input.click()" />

					<input type="file" name="img6" accept="image/*" style="display: none" @change="upload6($event)" ref="img6Input" />
				</div>

				<div class="buttons">
					<button class="button" @click="submit()">Submit</button>
					<button class="button" @click="cancel()">Cancel</button>
				</div>
			</div>
		</div>

		<script src="/js/vue.js" type="text/javascript" charset="utf-8"></script>
		<script src="/js/jquery.js" type="text/javascript" charset="utf-8"></script>
		<script src="/js/trainer/account/editProfile.js" type="text/javascript" charset="utf-8"></script>
		<script src="/js/nav.js"></script>
	</body>
</html>
