<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/css/home/homepage.css" />    
        <script src="https://kit.fontawesome.com/610c7ab415.js" crossorigin="anonymous"></script>
        <title>Homepage</title>
    </head>   

    <body class="homepage-div">
        <div id="app">
            <div class="navdiv">
                <img class = "menu" src="/images/menu-button.svg" alt="menu-button"/>
    
                <nav>
                    <img class="close" src="/images/close-button.svg" alt="close-button"/>
            
                    <ul class="navul">
                        <li class="navli">
                            <a class="nava" href="/html/account/accountPage.html">Profile Page</a>
                        </li>
                        <li class="navli">
                            <a class="nava" href="#">Your Trainer</a>
                        </li>
                        <li class="navli">
                            <a class="nava" href="#">Payments</a>
                        </li>
                    </ul>
                </nav>
            </div>

            <div class="homepage">
                <h1>Homepage</h1>
            </div>

            <div class="button-container">
                <button class="style-button" @click="open_Styles()">Styles</button>
                <div class="space"></div>
                <button class="trainer-button" @click="open_Trainers()">Trainers</button>
            </div>

            <div class="iframe_div" v-if="Styles">
                <iframe src="/html/home/iframe/styles.html"> </iframe>
            </div>

            <div class="iframe_div" v-if="Trainers">
                <iframe src="/html/home/iframe/trainers.html"> </iframe>
            </div>
        </div>

        <script src="/js/vue.js" type="text/javascript" charset="utf-8"></script>
        <script src="/js/home/homepage.js" type="text/javascript" charset="utf-8"></script>
    </body>
</html>
