<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Login</title>
        <link rel="stylesheet" href="/css/loginsignup.css" />
    </head>

    <body class="login-page">
        <div class="box-login" id="app">
            <div class="body-login">
                <div class="body-child-login">
                    <h1>Log in</h1>

                    <div class="checkbox">
                        <input type="checkbox" id="trainerCB" name="trainerCB" v-model="trainer" value="true">
                        <label for="trainerCB">Are you a trainer?</label>
                    </div>

                    <div class="input-div">
                        <div class="input-spacing">
                            <input type="email" id="email" v-model="email" class="login-input-field" placeholder="Your email" required="" />
                        </div>

                        <div class="input-spacing">
                            <input type="password" id="password" v-model="password" class="login-input-field" placeholder="Password" required="" />
                        </div>
                    </div>

                    <div class="forgot-div" @click="jump_to_Fpwd()">Forgot password?</div>

                    <div class="login-button-div" @click="login()">
                        <button >Log In</button>
                    </div>

                    <div class="sign-div">Don't have an account? <span @click="jump_to_signup()">Sign up</span></div>
                </div>
            </div>
        </div>

        <script src="/js/vue.js" type="text/javascript" charset="utf-8"></script>
        <script src="/js/jquery.js" type="text/javascript" charset="utf-8"></script>
        <script src="/js/login.js" type="text/javascript" charset="utf-8"></script>
    </body>
</html>
