@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,500;1,300;1,500&display=swap');

* {
    margin: 0;
    padding: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    height: -webkit-fill-available;
    background-color: #90b4c0;
}

button {
    font-family: inherit;
}

.top-container {
    width: 100vw;
    height: 45vh;
    background-color: #395b64;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    display: flex;
    justify-content: center;
    padding: 20px;
}

.profile-image {
    width: 20vh;
    height: 20vh;
    background-color: #90b4c0;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid #90b4c0;
}

.bio-box {
    margin-top: 22.5vh;
    background-color: white;
    width: 90vw;
    height: auto;
    position: absolute;
    border-radius: 20px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.bio-text {
    margin-top: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.bio-text h1 {
    font-size: 1.5rem;
}

.bio-box h3 {
    font-weight: 100;
}

.about-text {
    margin: 0 30px 20px 30px;
}

.bottom-container {
    margin-top: 55vh;
    position: absolute;
    width: 90vw;
    padding-bottom: 100px;
}

.trainer-images {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.trainer-images img {
    background-color: #fbd6d2;
    height: 110px;
    width: 110px;
    border-radius: 15px;
    margin: 5px 0 5px 0;
    object-fit: cover;
}

.video {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 15px;
}