<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Sign UP</title>
        <link rel="stylesheet" href="/css/loginsignup.css" />
    </head>

    <body class="login-page">
        <div class="box-login" id="app">
            <div class="body-login">
                <div class="body-child-login">
                    <h1>Sign up</h1>

                    <div class="input-div">
                        <div class="input-spacing">
                            <input type="text" id="Fname" v-model="Fname" class="login-input-field" placeholder="First name" required="" />
                        </div>

                        <div class="input-spacing">
                            <input type="text" id="Lname" v-model="Lname" class="login-input-field" placeholder="Last name" required="" />
                        </div>

                        <div class="input-spacing">
                            <input type="email" id="email" v-model="email" class="login-input-field" placeholder="Your email" required="" />
                        </div>

                        <div class="input-spacing">
                            <input type="password" id="password" v-model="password" class="login-input-field" placeholder="Password" required="" />
                        </div>
                    </div>

                    <div class="login-button-div" @click="signup()">
                        <button>Sign Up</button>
                    </div>
                </div>
            </div>
        </div>

        <script src="/js/vue.js" type="text/javascript" charset="utf-8"></script>
        <script src="/js/jquery.js" type="text/javascript" charset="utf-8"></script>
        <script src="/js/trainer/loginsignup/signup.js" type="text/javascript" charset="utf-8"></script>
    </body>
</html>