@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,500;1,300;1,500&display=swap');

* {
    margin: 0;
    padding: 0;
}

html {
    height: -webkit-fill-available;
}

body {
    font-family: 'Montserrat', sans-serif;
    height: -webkit-fill-available;
    line-height: 1.5;
}

.menu {
    width: 30px;
    height: 30px;
    margin-top: 30px;
    margin-left: 30px;
}

.close {
    width: 30px;
    height: 30px;
    margin-top: 20px;
    margin-left: 20px;
}

nav {
    position: fixed;
    left: 10px;
    top: 10px;
    height: 80vh;
    width: 50vw;
    border-radius: 8px;
    background: #f5989d;
    box-shadow: 20px 10px 10px rgba(0, 0, 0, 0.5);
    z-index: 100;
    text-transform: uppercase;
    transform: translateX(-150%);
    transition: transform 0.5s ease-in-out;
}

.navul {
    list-style-type: none;
    padding: 0;
    margin-top: 50px;
}

.nava {
    text-decoration: none;
    color: white;
    padding: 1.5em;
    display: block;
}

.nava:hover {
    background: rgb(235, 235, 235);
    color: black;
}

.open-nav {
    transform: translateX(0%);
}