<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/css/account/editProfile.css" />
        <title>Edit Profile</title>
    </head>

    <body class="edit-profile">
        <div class="outer-div" id="app" style="background-color: blue;">
            <div class="imgpreview">
                <img :src="avatar" @click="$refs.imgInput.click()">
            </div>

            <div>
                <input type="file" name="img" accept="image/*" style="display:none" @change="upload($event)" ref="imgInput">
            </div>

            <div class="edit">
                <div class="dropdown">
                    <select class="style_selection" name="styles" id="styles">
                        <option value="" selected disabled hidden>Select Training Style</option>
                        <option value="Yoga">Yoga</option>
                        <option value="Pilates">Pilates</option>
                        <option value="Bodybuilding">Body Building</option>
                        <option value="Bodyweight">Body Weight</option>
                        <option value="Powerlifting">Power Lifting</option>
                        <option value="Olympiclifting">Olympic Lifting</option>
                    </select>
                </div>

                <div class="dropdown">
                    <select class="gender_selection" name="gender" id="gender">
                        <option value="" selected disabled hidden>Select Gender</option>
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                    </select>
                </div>

                <div class="textinput">
                    <input type="number" id="heightft" v-model="heightft" class="text-input" :placeholder="heightft_display"/>
                    <input type="number" id="heightin" v-model="heightin" class="text-input" :placeholder="heightin_display"/>
                </div>

                <div class="textinput">
                    <input type="number" id="weight" v-model="weight" class="text-input" :placeholder="weight_display"/>
                </div>

                <div class="textinput">
                    <input type="text" id="description" v-model="description" class="text-input" :placeholder="description_display"/>
                </div>
            </div>

            <div class="footer-buttons">
                <button @click="submit()">Submit</button>
                <button @click="cancel()">Cancel</button>
            </div>
        </div>

        <script src="/js/vue.js" type="text/javascript" charset="utf-8"></script>
        <script src="/js/jquery.js" type="text/javascript" charset="utf-8"></script>
        <script>
            var this_;
            var app = new Vue({
                el: '#app',
                data: {
                    // Input information
                    id: '',
                    height: '',
                    heightft: '',
                    heightin: '',
                    weight: '',
                    description: '',
                    training_style: '',
                    gender: '',

                    // Display Information
                    heightft_display: '',
                    heightin_display: '',
                    weight_display: '',
                    style_display: '',
                    gender_display: '',
                    description_display: 'Edit Your Description Here',

                    // Image Information
                    avatar: '/images/defaultProfile.png',
                },
                
                created: function() {
                    this_ = this;
                    this_.initPerMsg();
                },

                methods: {
                    initPerMsg() {
                        $.ajax({
                            headers: {
                                Authorization: "Bearer " + localStorage.getItem("token")
                            },
                            url: "http://127.0.0.1:8000/api/users/trainees/",
                            type: "GET",
                            
                            success: function(rs) {
                                if (rs != null) {
                                    this_.id = rs.id;
                                    this_.height = rs.trainee.height;
                                    this_.heightft_display = "Height(FT): " + this_.height.substring(0, 2);
                                    this_.heightin_display = "Height(IN): " + this_.height.substring(2);
                                    this_.weight_display = "Weight: " + rs.trainee.weight;
                                    this_.style_display = rs.trainee.training_style;
                                    this_.gender_display = rs.trainee.gender;
                                    if (rs.trainee.description != null) {
                                        this_.description_display = rs.trainee.description;
                                    }

                                    if (rs.trainee.avatar != null) {
                                        this_.avatar = rs.trainee.avatar;
                                    }
                                }
                            }
                        })
                    },

                    upload(image) {
                        var img = image.target.files[0];
                        var reader = new FileReader();
                        if (img) {
                            reader.readAsDataURL(img);
                            reader.onload = function(e) {
                                this_.avatar = reader.result;
                            }
                        }
                    },

                    submit() {
                        var datas = {};
                        this.gender = $('#gender :selected').val();
                        this.training_style = $('#styles :selected').val();
                        datas.avatar = this.avatar;
                        
                        if (this.heightft != '' && this.heightin != '') {
                            datas.height = this.heightft + "\'" + this.heightin + "\"";
                        }
                        else {
                            if (this.heightft == '' && this.heightin != '') {
                                datas.height = 0 + "\'" + this.heightin + "\"";
                            }
                            else if (this.heightin == '' && this.heightft != '') {
                                datas.height = this.heightft + "\'" + 0 + "\"";
                            }
                            else {
                                datas.height = this.height;
                            }
                        }

                        if (this.weight != '') {
                            datas.weight = this.weight + "LB";
                        }
                        else {
                            var weightstr = this.weight_display
                            datas.weight = weightstr.substring(9);
                        }

                        if (this.description != '') {
                            datas.description = this.description;
                        }
                        else {
                            datas.description = this.description_display;
                        }

                        if (this.gender != '') {
                            datas.gender = this.gender;
                        }
                        else {
                            datas.gender = this.gender_display;
                        }

                        if (this.training_style != '') {
                            datas.training_style = this.training_style;
                        }
                        else {
                            datas.training_style = this.style_display;
                        }

                        var data = JSON.stringify(datas);
                        console.log(data);
                        
                        $.ajax({
                            headers: {
                                Authorization: "Bearer " + localStorage.getItem("token")
                            },
                            url: "http://127.0.0.1:8000/api/users/trainees/update/" + this.id + "/",
                            type: "PUT",
                            data: data,
                            dataType: "json",
                            contentType: "application/json; charset=utf_8",

                            success: function(rs) {
                                alert("Information Modified.")
                                window.location.href = "/html/account/accountPage.html";
                            },

                            error: function(rs) {
                                alert("Something Went Wrong.")
                            }
                        })
                    },
                    cancel() {
                        window.location.href = "/html/account/accountPage.html";
                    }
                },
            })
        </script>
    </body>
</html>